{%- assign n = site.data.navigation -%}
<header class="header">
  <div class="container">
      <div class="header__nav">
        <nav class="nav">
          <div class="nav-links">
            {%- for i in n.nav -%}
              <a href="{{i.link}}" class="nav-link">{{i.title}}</a>
            {%- endfor -%}
          </div>
          </nav>
          <div class="burger">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
</header>

