<header id="header" class="nav-down">
  <div class="container">
    <div class="header__grid">
      <!--<div class="header__logo">
        <a href="/"><img width="100" height="56" src="" alt="logo"></a>
      </div>-->
      <div class="header__navigation">
          <nav id="nav">
            <div class="navbar" id="myNavbar">
              {%- for i in site.data.navigation.nav -%}
              <a href="{{i.link}}" class="nav_link">{{i.title}}</a>
              {%- endfor -%}
            </div>
          </nav>
        </div>
    </div>
  </div>
</header>